
body{
    margin: 0;
    padding: 0;
    
}

.hero-section h1{
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.hero-section p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
nav{
    background: linear-gradient(107.07deg,#684efb -6.64%,#5a00dd 89.11%);
}
.header{
    margin-bottom: 100px;
}

#navbar h2{
    font-size: 25px;
}

.hero-section{
    min-width: 100%;
    padding-bottom: 50px;
    min-height: 600px;
    background: linear-gradient(107.07deg,#684efb -6.64%,#5a00dd 89.11%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}

.dropdown{
    border-radius: 10px  !important;
}

.view-profile{
    background-color: #ff19b2;
    border-radius: 30px;
    color: #fff;
}

.hero-button{
    padding: 15px 35px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 17px;
    background-color: #5a00dd;
}
.header-images img{
    width: 50px;
    padding-right: 10px;
}
.profile-image img{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    
}
.profile-image-two img{
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    
}
.course-info-section{
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.second-section{
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 20px;
    
}
.course-schedule-section{
    border-radius: 10px;
    padding: 20px;
}
.schedule-header h3{
    margin: 20px 0 80px 0;
    font-size: 35px;
    font-weight: 600;
}

.schedule-time p{
    font-size: 16px;
    font-weight: 600;
}

.enroll-button h5{
    color: #ffffff;
    padding: 20px 15px;
    border-radius: 35px;
    background:linear-gradient(45deg,#5a00dd,#684efb);;
}
.enroll-card{
    border-radius: 20px;
}

.icon{
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}
.icon-one{
    background-color: #5a00dd;
    margin-right: 15px;
}
.icon-two{
    background-color: #fc5e51;
    margin-right: 15px;
}
.icon-three{
    background-color: #ff9c35;
    margin-right: 15px;
}
.icon-four{
    background-color: #ff193f;
    margin-right: 15px;
}

.course-info-section{
    padding: 100px 0;
}
.course-criteria-header h2{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}
.course-criteria{
    font-size: 18px;
    padding: 20px;
}
.extra-text p{
    font-size: 16px;
}

.icon-five{
    color: tomato;
    size: 20px;
}
.icon-six{
    padding: 20px;
    background-color: tomato;
    border-radius: 10px;
}
.icon-seven{
    padding: 20px;
    background-color: #39f;
    border-radius: 10px;
}
.icon-eight{
    padding: 20px;
    background-color:rgb(255, 187, 0);
    border-radius: 10px;
}

.iframe{
    text-align: center;
    margin: 20px;
}

.icon-nine{
    color: #ffff;
    background-color: #f30a0a;
    padding: 5px;
    border-radius: 5px;
}
.icon-ten{
    color: #ffff;
    background-color: #f53030;
    padding: 5px;
    border-radius: 5px;
}
.icon-eleven{
    color: #ffff;
    background-color: #fac106;
    padding: 5px;
    border-radius: 5px;
}

.button{
    padding: 5px 200px;
    border-radius: 10px;
}



.fourth-section{
    max-width: 100%;
    padding: 50px 0 100px 0;
    min-height: 500px;
    background-color: #c0dbf5;
    
}
.course-info{
    margin: auto;
    max-width: 650px;
    background-color: #ffffff;
    box-shadow: 0 5px 14px rgb(0 0 0  20%);
    border-radius: 10px;
    
}
#course-content {
    margin-right: 20px;
    cursor: pointer;
}


#course-time{
    cursor: pointer;
    margin-left: 20px;
}

#display{
    padding: 100px auto;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 90%;
}
#display h1{
    font-size: 100px;
    color: darkgray;
}
.content-images img{
    width: 110px;
    height: 110px;
   
}



.course-information{
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    background-color: #ffffff;
    box-shadow: 5px 5px 14px rgb(0 0 0  20%);
    border-radius: 10px;
    height: 100%;
}
.course-description{
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    background-color: #ffffff;
    box-shadow: 5px 5px 14px rgb(0 0 0  20%);
    border-radius: 10px;
    height: 100%;
}

.course-description-header h1{
    font-family: 'Baloo Da 2', cursive;
    font-size: 100px;
    color: darkgray;
}

.fifth-section{
    max-width: 100%;
    min-height: 500px;
    padding: 100px auto;
    margin: 100px auto;
}
.fifth-section h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.fourth-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
   
}
.fifth-card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 5px 14px darkgray;
  
}
.button-two{
    width: 100%;
    padding: 14px 0;
    border-radius: 40px;
}
.btn:focus:focus{
    outline: none;
    box-shadow: none;
}

.fifth-card-two{
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.sixth-section{
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    max-width: 100%;
    height: fit-content;
    padding: 100px auto;
    margin: 100px auto;
    background: linear-gradient(107.07deg,#684efb -6.64%,#5a00dd 89.11%);
}
.plus-minus{
    cursor: pointer;
    
}

.plus-minus{
    border-radius: 10px;
    background: linear-gradient(107.07deg,#4020f8 -6.64%,#5400d3 89.11%);
}
.section-faq{
    width: 100%;
    border-radius: 10px;
    padding: 20px 0;
    margin: auto;
    background: linear-gradient(107.07deg,#492bf3 -6.64%,#4e00c4 89.11%);
}

.display-faq-two{
    width: 100%;

}

.footer-section{
    min-height: 300px;
    background: linear-gradient( #6247fc, #6d0efa);
    
}

.footer-section p{
    font-size: 17px;
    font-weight: 500;
}
.footer-section a{
    text-decoration: none;
}

.term-and-contdition{
    font-family: 'Baloo Da 2', cursive;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}