
body{
    margin: 0;
    padding: 0;
    
    font-family: 'Hind Siliguri', sans-serif;
}

.hero-section h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.hero-section p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
nav{
    background: linear-gradient(107.07deg,#684efb -6.64%,#5a00dd 89.11%);
    vertical-align: middle;
    object-fit: cover;
  
}

#navbar{
    padding: 5px  100px;
}
#navbar h2{
    font-size: 25px;
}

.header{
    position: absolute;
    width: 100%;
    z-index: 3;
}
.hero-section{
    background: linear-gradient(107.07deg,#684efb -6.64%,#5a00dd 89.11%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.hero-main{
    min-height: 500px;
    margin-top: 250px;
    padding: 250px auto;
}
.hero-images{
    margin-top: 250px;
}
.hero-button{
    padding: 10px 20px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 17px;
    background-color: #5a00dd;
}
img.header-images{
    width: 4%;
    padding-right: 10px;
}
.profile-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.second-section{
    margin: 50px 50px;
    min-height: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 6px 6px lightgray;
}
.schedule-header h2{
    text-align: center;
    margin: 20px 0 100px 0;
    font-size: 40px;
    font-weight: 600;
}

.schedule-time h5{
    font-size: 20px;
    font-weight: 800;
}

.enroll-header h4{
    color: #ffffff;
    padding: 20px 15px;
    border-radius: 35px;
    background:linear-gradient(45deg,#5a00dd,#684efb);;
}
.enroll-card{
    border-radius: 20px;
}

.icon{
    color: #ffffff;
    padding: 8px;
    border-radius: 8px;
}
.icon-one{
    background-color: #5a00dd;
}
.icon-two{
    background-color: #fc5e51;
}
.icon-three{
    background-color: #ff9c35;
}
.icon-four{
    background-color: #ff193f;
}

.course-info-section{
    padding: 100px 0;
}
.course-criteria-header h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}
.course-criteria{
    font-size: 18px;
    padding: 20px;
}
.extra-text p{
    font-size: 18px;
}

.icon-five{
    color: tomato;
    size: 20px;
}
.icon-six{
    padding: 20px;
    background-color: tomato;
    border-radius: 10px;
}
.icon-seven{
    padding: 20px;
    background-color: #39f;
    border-radius: 10px;
}
.icon-eight{
    padding: 20px;
    background-color:rgb(255, 187, 0);
    border-radius: 10px;
}

.iframe{
    text-align: center;
    margin: 20px 40px;
}

.icon-nine{
    color: #ffff;
    background-color: #f30a0a;
    padding: 5px;
    border-radius: 5px;
}
.icon-ten{
    color: #ffff;
    background-color: #f53030;
    padding: 5px;
    border-radius: 5px;
}
.icon-eleven{
    color: #ffff;
    background-color: #fac106;
    padding: 5px;
    border-radius: 5px;
}

.button{
    padding: 5px 200px;
}

.course-criteria-first-section{
    padding: auto;
}
.course-criteria-second-section{
  margin-left: 50px;
}

.fourth-section{
    max-width: 100%;
    padding: 50px 0 100px 0;
    min-height: 500px;
    background-color: #ebedef;
    
}
.course-info{
    margin: auto;
    max-width: 650px;
    background-color: #ffffff;
    box-shadow: 0 5.64912px 14.1228px rgb(0 0 0 / 10%);
    border-radius: 10px;
    
}
#course-content {
    margin-right: 20px;
    cursor: pointer;
}


#course-time{
    cursor: pointer;
    margin-left: 20px;
}

#display{
    padding: 100px auto;
    margin: auto;
    border-radius: 10px;
    max-width: 90%;
}

.icon-twelve{
   
    padding: 30px;
    background-color:gold;
    color: #fff;
}

.icon-thirteen{
    
    padding: 30px;
    background-color: #39fc;
    color: #fff;
}
.course-information{
    box-shadow: 0 30px 80px 0 rgb(55 84 170 / 10%);
    border-radius: 16px;
}

